<p>
  <a href='<%= images_inline_path( path: @image.path) %>'>
    <%= image_tag custom_image_path( path: @image.path), height: 500 %>
  </a>
</p>

<div>
  <% @image.get_closest_matches.each do |image| %>
    <div class="imagebar-element">
      <a href='<%= images_find_duplicate_path( path: image.path) %>'>
        <%= image_tag custom_image_path( path: image.path), height: 200 %>
        <div><%= @image.relative_path(image) %></div>
      </a>
    </div>
  <% end %>
<div>
