<script>
function leftArrowPressed() {
  window.open('<%= images_find_duplicate_path(path: @image.next_image) %>','_self');
}

function upArrowPressed() {
  window.open('<%= directories_browse_path(path: @image.directory.path) %>','_self');
}

function rightArrowPressed() {
  window.open('<%= images_find_duplicate_path(path: @image.previous_image) %>','_self');
}

function downArrowPressed() {
  window.open('<%= images_inline_path( path: @image.path) %>', '_self');
}

document.onkeydown = function(evt) {
  evt = evt || window.event;
  switch (evt.keyCode) {
    case 37:
      leftArrowPressed();
      break;
    case 38:
      upArrowPressed();
      break;
    case 39:
      rightArrowPressed();
      break;
    case 40:
      downArrowPressed();
      break;
  }
};
</script>
<a href='<%= directories_browse_path( path: @image.directory.path) %>'>..</a>

<h1>Requested Image <%= "(#{@image.directory_position+1}/#{@image.directory.images.count})" %></h1>

<p>
  <a href='<%= images_inline_path( path: @image.path) %>'>
    <%= image_tag custom_image_path( path: @image.path), height: 500 %>
  </a>
</p>

<h1>Best Matches (5/<%= @image_count %>)</h1>

<% @image.get_closest_matches.each do |image| %>
  <a href='<%= images_find_duplicate_path( path: image.path) %>'>
    <%= image_tag custom_image_path( path: image.path), height: 200 %>
  </a>
<% end %>
