<p id="notice"><%= notice %></p>

<p>
  <strong>P hash:</strong>
  <%= @image.p_hash %>
</p>

<p>
  <strong>Timestamps:</strong>
  <%= @image.timestamps %>
</p>

<%= link_to 'Edit', edit_image_path(@image) %> |
<%= link_to 'Back', images_path %>
